<form (ngSubmit)="onSubmit(f)" #f="ngForm"> 
    <label 
        for="study_material" 
        class="form-control">
        Enter your course notes here
    </label>

    <input 
        type="text" 
        id="study_material" 
        name="study_material" 
        [(ngModel)]="study_material_text" 
        required 
        #study_material="ngModel">
        
    <p *ngIf="!study_material.valid && !!study_material.touched" class="help-block">Please enter your study material!</p>
    <button type="submit" [disabled]="!f.valid">Generate flashcards</button>
</form>

<div *ngFor="let card of cards">
    <app-flash-card [cardData]="card"></app-flash-card>
</div>


  